{% extends 'base.html.twig' %}

{% block body %}
   <h1 style="text-align: center">Event Manager App</h1>
   <ul style="text-align: center;list-style-type: none">
      <li><a href="{{ path('get-events') }}">Lista eventi</a></li>
      <li><a href="{{ path('post-events') }}">Aggiungi evento</a></li>
      <li><a href="{{ path('put-events',{'event': 2}) }}">Modifica evento</a></li>
      <li><a href="{{ path('get-event',{'event': 2}) }}">Mostra singolo evento</a></li>
      <li><a href="{{ path('delete-events',{'event' : 1}) }}">Rimuovi evento</a></li>
      <li><a href="{{ path('get-identities') }}">Lista Persone</a></li>
      <li><a href="{{ path('post-identities') }}">Aggiungi persona</a></li>
      <li><a href="{{ path('put-identities',{'id' : 4}) }}">Modifica dati persona</a></li>
      <li><a href="{{ path('delete-identities',{'id' : 1}) }}">Rimuovi persona</a></li>
      <li><a href="{{ path('get-identity',{'id' : 1}) }}">Mostra dati persona</a></li>
   </ul>
{% endblock %}
