{% extends 'base.html.twig' %}

{% block body %}
   <h1 style="text-align: center">Event Manager App</h1>
   <ul style="text-align: center;list-style-type: none">
      <li><a href="{{ path('list-events') }}">Lista eventi</a></li>
      <li><a href="{{ path('create-event') }}">Aggiungi evento</a></li>
      <li><a href="">Modifica evento</a></li>
      <li><a href="{{ path('delete-event',{'id' : 1}) }}">Rimuovi evento</a></li>
      <li><a href="{{ path('identities-list') }}">Lista Persone</a></li>
      <li><a href="{{ path('identity-create') }}">Aggiungi persona</a></li>
      <li><a href="{{ path('identity-update',{'id' : 4}) }}">Modifica dati persona</a></li>
      <li><a href="{{ path('identities-delete',{'id' : 1}) }}">Rimuovi persona</a></li>
   </ul>
{% endblock %}
